[user]
	name = Niclas Åberg
	email = niclas.aberg@gmail.com
	signingkey = 386223ED234C5472
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[commit]
	gpgsign = true
[gpg]
	program = gpg2
